
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>Who data suggest Minnesotans might vote for on Super Tuesday</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">February 27, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Several signs point toward a close race between the state's own U.S. Sen. Amy Klobuchar and Vermont's U.S. Sen. Bernie Sanders as Minnesotans prepare to select their preference for Democratic presidential nominee on Super Tuesday.</p>

      <p>Data from various sources suggest Klobuchar's homefield advantage in Minnesota may be challenged by Sanders as he attempts to repeat his success here after an overwhelming caucus victory in 2016.</p>

      <p>As with many states, Minnesota's 75 pledged national delegates will be assigned proportionally according to the popular vote statewide and across its eight congressional districts. So even a second place finish may prove vital to candidates trying to stay afloat on a day with a third of Democratic delegates at stake.</p>

      <p>Here's where various datapoints are pointing for Minnesota this coming Tuesday:</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Polls lean toward Klobuchar</h2>
      <p>The most recent <a href="http://www.startribune.com/star-tribune-mpr-news-minnesota-poll-results-democratic-primary-klobuchar-sanders-warren-buttigieg-biden/567940781/">Star Tribune/MPR News Minnesota Poll</a> places Klobuchar ahead of Sanders among Minnesotans.</p>
      
      <p>Behind them is U.S. Sen. Elizabeth Warren and former Vice President Joe Biden. Notably, about 21 percent of the 500 surveyed likely Democratic primary voters were still undecided.</p>
  </section>
      <div class="slide">
        <iframe title="Minnesota Poll results show a Klobuchar lead" aria-label="Bar Chart" id="datawrapper-chart-tJPkZ" src="//datawrapper.dwcdn.net/tJPkZ/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="393"></iframe>
      </div>

      <section class="container-lg">
        <p><a href="https://www.uml.edu/docs/2020-MN-topline_tcm18-322443.pdf" target="new_">Another poll</a> from University of Massachusettes Lowell from earlier this month puts Klobuchar at 27 percent, six points ahead of Sanders, with Warren and Buttigieg in distant tow.</p>

        <p>Polling ahead of Minnesota's primary has <a href="https://projects.fivethirtyeight.com/polls/president-primary-d/minnesota/" target="new_">otherwise been sparse</a>, with most surveys of the state dating back to last summer and autumn.</p>
    </section>


    <div class="rule"></div>
    <section class="container-lg">
        <h2 class="chartTitle">Forecasters project a Klobuchar/Sanders tie</h2>
        <p><a href="https://projects.fivethirtyeight.com/2020-primary-forecast/minnesota/" target="new_">FiveThirtyEight's Democratic primary forecast</a> gives Klobuchar and Sanders similar chances of winning Minnesota in terms of the popular vote and pledged delegates.</p>

        <p>The model used to favor Sanders' chances in Minnesota, but Klobuchar's projected performance strengthed as more data became available. On average, FiveThirtyEight's simulations suggest both candidates are likely to evenly split the state's delegate count.</p>
    </section>

    <div class="slide">
      <iframe title="Forecasted delegate counts in Minnesota's primary" aria-label="Table" id="datawrapper-chart-6XExN" src="//datawrapper.dwcdn.net/6XExN/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="277"></iframe>
    </div>

    <section class="container-lg">
      <p>Since delegates are awarded proportionally based on the popular vote, a slight lead for either candidate would still lead to a numerical tie in the race for 1,991 delegates.</p>
    </section>

   
  <div class="rule"></div>
  <section class="container-lg">
    <h2 class="chartTitle">Google searches show interest in Sanders</h2>
    <p>Among the top five Democratic candidates, Sanders strongly leads in Google search term rankings leading into Super Tuesday, with Klobuchar and others far behind him.</p>

    <p>Though not an indicator of voter intent, Google search data have seemed somewhat correlated to results. For instance, Sanders <a href="https://bit.ly/36L9CFW">led search trends before Minnesota's caucus in 2016</a>. He also ranked highly among Minnesota queries <a href="http://www.startribune.com/minnesotans-googled-these-democratic-candidates-the-most-in-2019/506439501/">throughout last year</a>.</p>
  </section>
      <div class="slide">
        <iframe title="Minnesota's Google search interest in 2020" aria-label="Interactive line chart" id="datawrapper-chart-FhrmY" src="//datawrapper.dwcdn.net/FhrmY/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
      </div>

  <section class="container-lg">
  </section>

  <div class="rule"></div>
  <section class="container-lg">
    <h2 class="chartTitle">Campaign donations surge for Sanders</h2>
    <p>While Klobuchar consistently lead fundraising in her own backyard throughout 2019, <a href="http://www.startribune.com/bernie-sanders-gets-the-most-cash-from-minnesota-small-dollar-donors/568173821">Sanders slightly surpassed her in January</a> among ActBlue donations and vastly lead the field in individual donors.</p>

    <p>Klobuchar still leads Minnesota ActBlue fundraising with about $4 million overall since her campaign launched, doubling Sanders' statewide totals. But fundraising momentum backed Sanders headed into February, possibly signally a surge in support.</p>
  </section>
      <div class="slide">
        <iframe title="Minnesota ActBlue donations over time" aria-label="Interactive line chart" id="datawrapper-chart-m1f7h" src="//datawrapper.dwcdn.net/m1f7h/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="482"></iframe>
      </div>

      <section class="container-lg">
        <p>Nationwide, Sanders leads among individual donors, finishing 2019 with 1.4 million unique individuals contributing to his campaign, well ahead of everyone else, <a href="http://www.startribune.com/klobuchar-among-candidates-whose-bank-accounts-are-low-headed-into-february-races/568089662/">including Klobuchar</a>.</p>
        
        <p>This trend holds up in Minnesota, signalling strong grassroots support across the state, with most of Sanders' donors giving less than $200. Klobuchar attracted fewer donors, but those who tended to contribute higher sums.</p>
      </section>

      <div class="slide">
        <iframe title="Minnesota donors per presidential candidate" aria-label="Bar Chart" src="//datawrapper.dwcdn.net/RpGsb/5/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="248"></iframe>
      </div>

        <section class="body">
            <div class="slide">
                <div class="byline">Data source: Star Tribune/MPR News Minnesota Poll, Mason/Dixon Polling, University of Massachusettes Lowell, Federal Elections Commission, Google Trends, FiveThirtyEight</div>
            </div>
        </section>

<section class="container-lg">
    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Who turned out to vote in Minnesota on Super Tuesday" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
